@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/img12.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LOGO{
    color: aliceblue;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: aliceblue;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: bisque;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color: beige;
    padding: 0 250px;
    margin-bottom: 25px;
}

.slider {
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.slides {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.5s ease;
}

.slides li {
    flex: 0 0 100%;
}


.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: red;
    color: aliceblue;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: darksalmon;
}

.taller{
     padding: 50px 0;
     background-color: aliceblue;
     position: relative;
}

.taller-content{
    text-align: center;
}

.taller-content h2{
    font-size: 55px;
    line-height: 70px;
    color: rgb(6, 6, 6);
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.taller-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.taller-1{
    padding: 0 25px;
}

.taller-1 img{
    width: 200px;
}

.taller-img{
    position: absolute;
    top: 0;
    right: 0;
}

.taller-1 h3{
    color: #323337;
    font-size: 25px;
    margin-bottom: 15px;
}

.services{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(imagenes/img2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content{
    text-align: center;
}

.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1{
    padding: 0 100px;
}

.services-1 img{
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3{
    color: #eaccb3;
    font-size: 18px;
}
.{
    display: inline-block;
    background-color: #F61706;
    margin-top: 35px;
    padding: 15px 25px;
    border-radius: 25px;
    color: #ffffff;
}
.btn-1 hover {
    background-color: #000000;
}

.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
    text-align: justify;
}

.general-2{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
    text-align: justify;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #f5f5f5;
}
.titulo{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}
.slider-box{
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    
}
.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slider-box li{
    width: 50%;
    list-style: none;
    position: relative;
}
.texto{
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: #ffffff;
}
.texto h2{
    font-size: 40px;
    margin-bottom: 35px;
    color: #ff0000;
}
.texto p{
    color: #FFFFFF;
    font-size: 25px;
}
.slider-box img{
    width: 100%;
}

@keyframes slide{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media(max-width:991px){
    
body{
 padding: 30px;
 }

  .slider-box{
    width: 100%;
  }  
  .texto{
    top: 50px;
    padding: 0;
  }  
  .texto h2{
    font-size: 35px;
    margin-bottom: 15px;
  }
  .texto p{
    font-size: 15px;
  }
}
.logo img {
  height: 80px;
  width: auto;
}

 @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}       

.comment-box{
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 500px;
}

.comment-box h2{
    font-size: 20px;
    margin-bottom: 15px;
}

.comment-box input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #86b0b6;
}

.comment-box input:focus{
    border: 1px solid #000;
    outline: 0;
}

.comment-box textarea{
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #86b0b6;
}

.comment-box textarea:focus{
    border: 1px solid #000;
    outline: 0;
}

.comment-box button{
    border: 0;
    padding: 10px 30px;
    background: #86b0b6;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}

.comment-box button:hover{
    background-color: #718a8e;
}

.div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}